@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>

    <header class="text-gray-400 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                    <path d="M11.644 1.59a.75.75 0 0 1 .712 0l9.75 5.25a.75.75 0 0 1 0 1.32l-9.75 5.25a.75.75 0 0 1-.712 0l-9.75-5.25a.75.75 0 0 1 0-1.32l9.75-5.25Z" />
                    <path d="m3.265 10.602 7.668 4.129a2.25 2.25 0 0 0 2.134 0l7.668-4.13 1.37.739a.75.75 0 0 1 0 1.32l-9.75 5.25a.75.75 0 0 1-.71 0l-9.75-5.25a.75.75 0 0 1 0-1.32l1.37-.738Z" />
                    <path d="m10.933 19.231-7.668-4.13-1.37.739a.75.75 0 0 0 0 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 0 0 0-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 0 1-2.134-.001Z" />
                </svg>
                <span class="ml-3 text-xl">Minor Project</span>
            </a>
            @if (SignInManager.IsSignedIn(User))
            {
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-black hover:cursor-pointer text-xl font-normal" asp-controller="Home" asp-action="Home">Home</a>
                <a class="mr-5 hover:text-black hover:cursor-pointer text-xl font-normal" asp-controller="Student" asp-action="List">Students</a>
                <a class="mr-5 hover:text-black hover:cursor-pointer text-xl font-normal" asp-controller="Home" asp-action="AboutUs">About Us</a>
                <a class="mr-5 hover:text-black hover:cursor-pointer text-xl font-normal" asp-controller="Home" asp-action="Blog">Blogs</a>
                <a class="mr-5 hover:text-black hover:cursor-pointer text-xl font-normal" asp-controller="Home" asp-action="Contact">Contact</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="mr-5 hover:text-black hover:cursor-pointer text-xl font-normal" asp-controller="Admin" asp-action="AdminDashboard">DashBoard</a>
                    }
            </nav>
            }
            <ul class="flex space-x-4">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="inline">
                            <button type="submit" class="text-xl font-medium hover:text-black">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a class="text-xl font-medium hover:text-black" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li>
                        <a class="text-xl font-medium hover:text-black" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="mt-20">
        <footer class="text-gray-600 body-font">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                        <path d="M11.644 1.59a.75.75 0 0 1 .712 0l9.75 5.25a.75.75 0 0 1 0 1.32l-9.75 5.25a.75.75 0 0 1-.712 0l-9.75-5.25a.75.75 0 0 1 0-1.32l9.75-5.25Z" />
                        <path d="m3.265 10.602 7.668 4.129a2.25 2.25 0 0 0 2.134 0l7.668-4.13 1.37.739a.75.75 0 0 1 0 1.32l-9.75 5.25a.75.75 0 0 1-.71 0l-9.75-5.25a.75.75 0 0 1 0-1.32l1.37-.738Z" />
                        <path d="m10.933 19.231-7.668-4.13-1.37.739a.75.75 0 0 0 0 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 0 0 0-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 0 1-2.134-.001Z" />
                    </svg>
                    <span class="ml-3 text-xl">Tailblocks</span>
                </a>
                <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                    © 2020 Tailblocks
                </p>
            </div>
        </footer>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
