.vs/
/Student Management with DB/Student Management with DB/App.config
/Student Management with DB/Student Management with DB/bin/
/Student Management with DB/Student Management with DB/obj/
/Student Management with DB/Student Management with DB/obj/Debug/Student Management with DB.csproj.FileListAbsolute.txt
/Student Management with DB/Student Management with DB/obj/Debug/Student Management with DB.csproj.GenerateResource.cache
